*{
  color: white;
  padding: 0;
  margin: 0;
  font-family:helvetica;
  
  box-sizing:border-box;
}

body {
    background-color:#121212;
}

#main_UI {
  width: 100vw;
  height: max-content;
  background-color: #121212;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#top_nav {
  width:100%;
  height:max-content;
  background-color: black;
  color:white;
  display:flex;
  margin-bottom:2vh;
}

#greeting {
  width:100%;
  height:max-content;
  background-color:black;
  padding: .5rem 0px .5rem 0px;
  
  text-align:center;
  color:white;
  font-size:.75rem;
  font-style:italic;
  font-weight:10;
}

#block_one {
  width:94%;
  height:max-content;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(90,90,90,1) 0%, rgba(68,68,68,0) 100%);
  border-radius:1rem;
  display:flex;
  padding:12px;
}

#block_one-left {
  font-weight:400;
  font-size:.6rem;
  
  width:50%;
  height:100%;
  
  padding:12px;
  box-sizing:border-box;
  border-radius:1rem;
}

.daily_quote {
  margin-top:25%;
  font-weight:400;
  opacity:90%;
}

.daily_quote-ref {
  font-weight:100;
  opacity:70%;
}

#block_one-right {
  font-weight:400;
  font-size:.6rem;
  
  background: rgb(8,104,227);
  background: linear-gradient(90deg, rgba(8,104,227,.4) 0%, rgba(8,104,227,0.2) 55%, rgba(8,104,227,0) 100%);
  width:50%;
  height:100%;
  
  box-sizing:border-box;
  padding:6px;
}

.daily_list {
  width:100%;
  height:100%;
  list-style-type: none;
  padding:6%;
  font-size:max;
  opacity:100%;
}

.mb {
  width:100%;
  height:7%;
  margin-bottom:2.5%;
  
}

.me {
  position:relative;
  bottom:-2.5px;
  width:max;
}

#block_two {
  width:94vw;
  height:max-content;
  display:flex;
  gap:6px;
}
#block_two-left {
  width:50%;
  height:max-content;
}
#block_two-right {
  width:50%;
  height:max-content;
  display:flex;
  flex-wrap:wrap;
  gap:6px;
}

textarea {
  background-color:#7b7f85;
}

#milestones {
  display:flex;
  flex-wrap:wrap;
  gap:12px;
  background-color: rgba(90,90,90,.7);
  border-radius:1rem;
  padding:12px;
  height:94px;
}

#date {
  display:flex;
  flex-wrap:wrap;
  width:100%;
  background-color: rgba(90,90,90,.7);
  background-image:url('EF2.jpg');
  border-radius:1rem;
  padding:12px;
  align-items:center;
  justify-content:center;
  gap:5px;
  height:94px;
  text-shadow: black 1px 0px 10px;
}

#holder {
  width:100%;
  height:max-content;
  display:flex;
  flex-wrap:wrap;
  gap:6px;
}

.milestone {
  width: 20px;
  height: 20px;
  border-radius:250%;
  background-color:silver;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:.5rem;
  
  opacity:30%;
}

#milestone24h {
  background-color:silver;
}
#milestone7d {
  background-color:red;
}
#milestone1w {
  background-color:yellow;
}
#milestone1m {
  background-color:green;
}
#milestone2m {
  background-color:blue;
}
#milestone3m {
  background-color:purple;
}
#milestone6m {
  background-color:orange;
}
#milestone9m {
  background-color:teal;
}
#milestone1y {
  background-color:black;
}

#journal_input {
  width:100%;
  color:black;
  display:flex;
  text-wrap:wrap;
  padding:6px;
  font-size:.7rem;
  height:140px;
  resize: none;
}

#daily_journal {
  height:194px;
  background-color: rgba(90,90,90,.7);
  border-radius:1rem;
  display:flex;
  padding:12px;
  display:flex;
  flex-wrap:wrap;
  gap:12px;
}

