*{
  color: white;
  padding: 0;
  margin: 0;
  font-family:helvetica;
  
  box-sizing:border-box;
}


#main_UI {
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#top_nav {
  width:100%;
  height:max-content;
  background-color: black;
  color:white;
  display:flex;
}

#greeting {
  width:100%;
  height:max-content;
  background-color:black;
  padding: .5rem 0px .5rem 0px;
  
  
  
  text-align:center;
  color:white;
  font-size:.75rem;
  font-style:italic;
  font-weight:10;
}

#block_one {
  width:94%;
  height:max-content;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(90,90,90,1) 0%, rgba(68,68,68,0) 100%);
  border-radius:1rem;
  display:flex;
  margin-bottom:38vh;
  padding:12px;
}

#block_one-left {
  font-weight:400;
  font-size:.6rem;
  
  width:50%;
  height:100%;
  
  padding:12px;
  box-sizing:border-box;
  border-radius:1rem;
}

.daily_quote {
  margin-top:25%;
  font-weight:400;
  opacity:90%;
}

.daily_quote-ref {
  font-weight:100;
  opacity:70%;
}

#block_one-right {
  font-weight:400;
  font-size:.6rem;
  
  background: rgb(8,104,227);
  background: linear-gradient(90deg, rgba(8,104,227,.6) 0%, rgba(8,104,227,0.5) 55%, rgba(8,104,227,0) 100%);
  width:50%;
  height:100%;
  
  box-sizing:border-box;
  padding:6px;
}

.daily_list {
  width:100%;
  height:100%;
  list-style-type: none;
  padding:6%;
  font-size:max;
  opacity:100%;
}

.mb {
  width:100%;
  height:7.2%;
  margin-bottom:2.5%;
  
}

.me {
  position:relative;
  bottom:-14%;
  width:max;
}


